@import url('https://fonts.googleapis.com/css?family=Cardo');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2013/02/03/32757/5b6a6e3c31019db550216c48a51eaf39.jpg);
  background-size: cover;
  font-family: 'Cardo', serif;
  font-size: 1.4em;
  color: rgb(236, 236, 236);
 
}

button {
  border: none;
  font-size: 1em;
  padding: 7px;
  margin: 5px;
  background-color: rgba(48, 75, 134, 0.697);
  color: white;
}

button:hover {
  color: lightblue;
  background-color: white;
}

img {
  width: 100px;
}

.container {
  background-color: rgba(0, 0, 0, 0.836);
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 35px 5px 35px 5px;
  flex-wrap: wrap;
  width: 70%;
  min-height: 520px;
}

.dataBox, .aqiBox, .weatherBox, .header {
  margin: 10px;
  flex: 1;
  padding: 10px;
  background-color: rgba(48, 0, 71, 0.397);
  border-radius: 30px 3px 30px 3px;
  border: solid 2px rgba(105, 160, 177, 0.548);
  text-align: center;
  height: 300px;
  min-width: 300px;
}

.temp {
  font-size: 5em;
  margin: 0;
}

span {
  font-size: .2em;
}

.forcastBox {
  height: 120px;
  width: 100%;
  display: flex;
  background-color: rgba(0, 22, 71, 0.397);
  border-radius: 30px 3px 30px 3px;
  border: solid 2px rgba(10, 143, 184, 0.548);
  display: flex;
  justify-content: center;
  align-items: center;
}

.daysBox {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.day {
  text-align: center;
  background-color: rgba(63, 63, 63, 0.507);
  border-radius: 15%;
  flex: 1;
  font-size: .6em;
  margin: 1%;

}

@media only screen and (max-width: 900px) {

  .container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 0;
    border: none;
  }
  
  .daysBox {
    width: 100%;
    justify-content: flex-start;
  }

  .App {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
  }

}
