@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/* import image from "../public/background.jpg" */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  widows: 100vw;
  background-image: url(/background.jpg);
  background-size: cover;
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
}

.aqiBox {
  background-color: rgba(78, 180, 206, 0.8);
}

.weatherBox {
  background-color: rgba(194, 93, 93, 0.8)
}

.aqiBox, .weatherBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 260px;
  height: 260px;
  color: white;
  padding: 20px;
}
button {
  border: solid rgb(92, 167, 197) 1px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.2em;
  color: rgb(84, 181, 219);
  transition: all 400ms;
  font-family: 'Playfair Display', serif;
}

button:hover {
  background-color: white;
  color: seagreen;
}

img {
  width: 100px;
}

.temp {
  font-size: 7em;
}

span {
  font-size: .12em;
}

.boxContainer {
  display: flex;
}

.header {
  width: 570px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  color: rgb(47, 125, 151);
}
